<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Bułeczkarnia</title>
</head>
<body style = "background: #aec1d6 ;">
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bułeczkarnia</a>
        <ul class="navbar-nav ml-auto">
            <%if(!login){%>
            <li class="nav-item">
                <a class="nav-link" href="/login">Logowanie</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/register">Rejestracja</a>
            </li>
            <%} else { %>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Wyloguj  </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Koszyk  </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/orders/">Moje zamówienia</a>
            </li>
            <% if(admin === "1") { %>
            <li class="nav-item ">
                <a class="nav-link" href="/add">Zarządzanie produktami</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/users">Zarządzanie użytkownikami</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/all">Wszystkie zamówienia</a>
            </li>
            <% } }%>

        </ul>
    </div>
</nav>

<div style = "margin-left: 50px;"><h3>Edycja</h3></div>
<div class="col-lg-12">
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Podaj nazwe:</label>
            <input class="form-control" type="text" name="name" value="<%= product.dataValues.name %>">
        </div>

        <div class="form-group">
            <label for="description">Podaj opis</label>
            <textarea class="form-control" rows="2" name="description">     <%= product.dataValues.description %>
            </textarea>
        </div>

        <div class="form-group">
            <label for="price">Podaj cene:</label>
            <input class="form-control" type="number" min="0.00" step="0.01" name="price"
                   value="<%= product.dataValues.price %>"> <br>
        </div>

        <div class="form-group">
            <label for="file">Wybierz zdjęcie:</label>
            <input class="form-control-file" type="file" name="photo"> <br>

        </div>
        <button type="submit" class="btn btn-primary" name="submit">Zmień</button>
    </form>


</div>

</body>
</html>